/* kalam-latin-400-normal */
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/kalam@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/kalam@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --modal-duration: 1s;
  --primary-color: navy;
  --secondary-color: pink;

}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Kalam';
  /*When calling the imported font, you must call the family named in the import*/
  margin: 0;
}

/* NAVBAR */
nav {
  background-color: var(--primary-color);
  border-right: 2px solid rgba(155, 95, 244, 0.988);
  color: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%)
    /*This styles the ability to slide the nav bar, needs to stay commented until styled */
}

nav .logo {
  padding: 30px 0;
  text-align: center;
}

nav .logo img {
  height: 125px;
  width: 125px;
  border-radius: 50%;

}

/*Notice how we effectively work from top to bottom of a particularly page in CSS, separation of concerns*/

nav ul {
  border-bottom: 2px solid rgba(155, 95, 244, 0.988);
  padding: 2px;
  margin: 0;
}

/* Notice the need for two different borders. This helps complete the bordering of the UL */
nav ul li {
  border-top: 2px solid rgba(155, 95, 244, 0.988);
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: aquamarine;
}

/* HEADER STYLES */
header {
  background-color: var(--primary-color);
  color: white;
  font-size: 130%;
  position: relative;
  padding: 50px 15px;
  text-align: center;
}

header h1 {
  margin: 0;
}

header p {
  margin: 30px 0;
}

/* general button styling with some adjustments to unique the elements below */
button,
input [type='submit'] {
  background-color: hotpink;
  border: 2px solid pink;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 15px;
  color: white;
}

button:hover {
  background-color: white;
  border: 2px solid pink;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 15px;
  color: hotpink;
}

.toggle {
  background-color: gold;
  border: 2px solid cornflowerblue;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 15px;
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
}

.toggle:hover {
  background-color: rgba(white, white, white, 0.2);
  border: 2px solid gold;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 15px;
  color: cornflowerblue;
  position: absolute;
  top: 20px;
  left: 20px;
}

.cta-btn {
  padding: 12px 12px;
  font-size: 20px;
}

.cta-btn:hover {
  padding: 12px 12px;
  font-size: 20px;

}


/* CONTAINER STYLES  (let's customize this)*/
.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px
}

/* MODAL STYLES */
/* In vanilla you have to control everything about the modal in the CSS and within the script. This is an important distinction between using vanilla and a framework with intense libraries. */
.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  /* display: none; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 100%;
}

.modal-header {
  background: var(--primary-color);
  color: aliceblue;
  padding: 15px;
  text-align: center;
  font-size: 30px;
}

.modal-header h3 {
  margin: 0;
  border-bottom: 2px solid hotpink;
}

.modal-content {
  padding: 20px;
}

.modal-form div {
  margin: 12px 0;
}

.modal-form label {
  display: block;
}

.modal-form input {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}